{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">404 - PAGE NOT FOUND</h1>
    <p class="lead">The page you are looking for might been removed had its name changed or is temporarily unavailable.</p>
    <hr class="my-4">
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Go to homepage</a>
    </p>
  </div>
{% endblock %}


