<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>GLI | LinkScraper</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.0/css/adminlte.min.css">

  <!-- Datatables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- scripts -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.4/js/adminlte.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script> -->
    <script src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- DataTables plugins -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
  <style>
    /* Stop Line Break inside Cell */
    .dt-body-nowrap {
      white-space: nowrap;
    }
  </style>
  </head>
<body class="hold-transition layout-top-nav accent-navy">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-dark navbar-secondary">
    <div class="container">
      <a href="{{url_for('index')}}" class="navbar-brand">
        <span class="brand-text font-weight-light">LinkDataExporter</span>
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a href="https://ko-fi.com/lnkscrpr" class="nav-link" target="_blank">Donate</a>
          </li> -->
          <!-- <li class="nav-item">
            <a href="{{url_for('index')}}" class="nav-link">All Listing</a>
          </li> -->
          
          <!-- <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Offices</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="{{url_for('office', office_code='OR')}}" class="dropdown-item">Manila-Ortigas Center</a></li>
              <li><a href="{{url_for('office', office_code='AL')}}" class="dropdown-item">Alabang</a></li>
            </ul>
          </li> -->
          <!-- <li data-toggle="modal" data-target="#industry-modal" class="nav-item">
            <span class="nav-link">Industries</span>
          </li>
          <li data-toggle="modal" data-target="#biz-type-modal" class="nav-item">
            <span class="nav-link">Business Types</span>
          </li> -->
        </ul>

        <!-- SEARCH FORM -->
        <!-- <form class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form> -->
      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="far fa-user"></i>
            <!-- <span class="badge badge-warning navbar-badge">15</span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">Welcome {{current_user.username}}</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              Platform
              <span class="float-right text-muted text-sm">{{ra.platform}}</span>
            </a>
            <!-- <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              Browser
              <span class="float-right text-muted text-sm">{{ra.browser}}</span>
            </a> -->
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              Email
              <span class="float-right text-muted text-sm">{{current_user.email}}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">Settings</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="{{url_for('users.logout')}}" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{url_for('users.login')}}" class="nav-link">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a href="{{url_for('users.register')}}" class="nav-link">Register</a>
        </li> -->
        {% endif %}

       
        <!-- <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i
              class="fas fa-th-large"></i></a>
        </li> -->
      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div  style="padding-bottom: 5px !important;">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6 d-none">
            <h1 class="m-0 text-dark">All Listings</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        {% for mess in get_flashed_messages() %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{mess}}
          </div>
        {% endfor %}
        <!-- <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          SERVER MAINTENANCE IS STILL ON GOING: <span id="timer"></span>
        </div> -->
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark ">
    <!-- Control sidebar content goes here -->

    {% block sidebar %}
    {% endblock %}
  </aside>
  <!-- /.control-sidebar -->


  <!-- Modal -->
  <div class="modal fade" id="industry-modal">
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title">Industries</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 0px !important;">
          <table class="table">
            <tbody>
              {% if i is defined %}
                {% for industry in i %}
                  {% if industry.title != '<none>'%}
                  <tr class='clickable-row' data-href="{{url_for('industry', id=industry.id)}}">
                    <td><a style="color: #FFF" href="{{url_for('industry', id=industry.id)}}"></a>{{industry.title}}</td>
                  </tr>
                  {% endif %}
                {% endfor %} 
              {% else %}
              <tr>
                <td>Access Denied</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-block btn-outline-light" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- ind modal -->

    <!-- Modal -->
  <div class="modal fade" id="biz-type-modal">
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title">Business Types</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 0px !important;">
          <table class="table">
            <tbody>
              {% if t is defined %}
                {% for biz_type in t %}
                  {% if biz_type.title != '<none>'%}
                  <tr class='clickable-row' data-href="{{url_for('biz_type', id=biz_type.id)}}">
                    <td><a style="color: #FFF" href="{{url_for('biz_type', id=biz_type.id)}}">{{biz_type.title}}</a></td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% else %}
              <tr>
                <td>Access Denied</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-block btn-outline-light" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      We scrape businesses
    </div>
    <!-- Default to the left -->
    {% if title is defined %}
      <strong><a href="{{url_for('index')}}">{{title}}</a></strong>
    {% else %}
      <!-- <strong>&copy; 2020 <a href="{{url_for('index')}}">GLI - LinkScraper</a></strong>
       -->
       <a href="https://ko-fi.com/lnkscrpr" target="_blank">♥ Donate</a>
       <!--
       <a id="cph" href="{{url_for('set_country', country_code='PH')}}">Philippines</a> | <a id="cnz" href="{{url_for('set_country', country_code='NZ')}}">
         New Zealand
       </a> | <a id="cau" href="{{url_for('set_country', country_code='AU')}}">Australia</a> | <a id="cus" href="{{url_for('set_country', country_code='US')}}">USA</a>   -->
    {% endif %}
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
{% block scripts %}

{% endblock %}
<script>
  function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");
    
    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if(name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }
    // Return null if not found
    return null;
}
</script>
<script>
  $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

   /* var country = getCookie('country_code');
    if (country == 'PH') {
      $('#cuntry').html('PH');
      $("#cph").css("font-weight", "bold");
    } else if (country == 'AU') {
      $('#cuntry').html('AU');
      $("#cau").css("font-weight", "bold");
    } else if (country == 'NZ') {
      $('#cuntry').html('NZ');
      $("#cnz").css("font-weight", "bold");
    } else if (country == 'US') {
      $('#cuntry').html('US')
      $("#cus").css("font-weight", "bold");
    }*/
});


</script>
<script>
  // Set the date we're counting down to
  var countDownDate = new Date("May 4, 2020 15:00:25").getTime();
  
  // Update the count down every 1 second
  var x = setInterval(function() {
  
    // Get today's date and time
    var now = new Date().getTime();
      
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
      
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
      
    // If the count down is over, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "Loading...";
    }
  }, 1000);
  </script> 
</body>
</html>
