{% extends 'base2.html' %}
{% block nav_item %}
 <li class="nav-item active">
    <a class="nav-link" href="{{url_for('index')}}">All Listings <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('office', office_code='OR')}}">Manila-Ortigas Center <span class="badge badge-pill badge-danger">{{orCount}}</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('office', office_code='AL')}}">Alabang <span class="badge badge-pill badge-danger">{{alCount}}</span></a>
  </li>
{% endblock %}
{% block content %}

    <h2>{{biz.title}}</h2>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Price</td>
        <td>
          {% if biz.price_info == '<none>' or  biz.price_info == 'Refer to Broker'%}
            Refer to Broker
          {% else %}
              {{biz.price_info | numberFormat}}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Profit</td>
        <td>
          {% if biz.profit == '<none>' or  biz.profit == 'Refer to Broker'%}
            Refer to Broker
          {% else %}
              {{biz.profit | numberFormat}}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Sales</td>
        <td>
          {% if biz.sales == '<none>' or  biz.sales == 'Refer to Broker'%}
            Refer to Broker
          {% else %}
              {{biz.sales | numberFormat}}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{biz.location}}</td>
      </tr>
      <tr>
        <td>Industry</td>
        <td>{{biz.industry.title}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{biz.business_type.title}}</td>
      </tr>
      <tr>
        <td>Broker</td>
        <td>
          {% set first = True %}
          {% for broker in biz.brokers %}
              {% if loop.index == 1 %}
                  Primary Broker: {{broker.fullname}}
              {% else %}
                  / Secondary Broker: {{broker.fullname}}
              {% endif %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <p>Description:</p>

  {{biz.description|safe}}
  
  <a href="{{biz.link}}">Click here for more details about this business.</a>
{% endblock %}
