{% extends 'base2.html' %}

{% block content %}
<div class="col-sm-12">
    <table id="example" class="table table-striped table-bordered nowrap compact" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>(₱)</th>
                
                <th>Location</th>
                <th>Sales</th>
                <th>Profit</th>
                <th>Industry</th>
                <th>Type</th>
                <th>Primary Broker</th>
                <th>Secondary Broker</th>
                <th>Remarks</th>
                <!-- <th>Link</th> -->
            </tr>
        </thead>
        <tbody>
            {% for biz in all_biz %}
            <tr>
                <td><a target="_blank" href="{{biz.link}}">{{biz.listing_id}}</a></td>
                <td><a href="{{url_for('biz', listing_id=biz.listing_id)}}">{{biz.title}}</a></td>
                <td>
                    {% if biz.price_info == 'Refer to Broker' or biz.price_info == ''%}
                        0
                    {% else %}
                        {{ biz.price_info | numberFormat }}
                    {% endif %}
                </td>
                
                <td>
                    {% if biz.location == '<none>'%}
                        -----
                    {% else %}
                        {{biz.location}}
                    {% endif %}    
                </td>
                <td>
                    {% if biz.sales == '<none>' or biz.sales == 'Refer to Broker'%}
                        0
                    {% else %}
                        {{biz.sales | numberFormat}}
                    {% endif %}
                </td>
                <td>
                    {% if biz.profit == '<none>' or  biz.profit == 'Refer to Broker'%}
                        0
                    {% else %}
                        {{biz.profit | numberFormat}}
                    {% endif %}
                </td>
                <td>
                    {{biz.industry.title}}
                </td>
                <td>{{biz.business_type.title}}</td>
                {%if biz.brokers | length == 0 %}
                    <td></td><td></td>
                {% elif biz.brokers | length == 1 %}
                    {% for broker in biz.brokers %}
                        <td>{{broker.fullname}}</td>
                        <td></td>
                    {% endfor %}
                {% else %}
                    {% for broker in biz.brokers %}
                        {% if loop.index == 1 %}
                            <td>{{broker.fullname}}
                        {% else %}
                            </td>
                            <td>{{broker.fullname}}</td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <td>
                    {% if biz.price_detail == '' %}
                        ----- 
                    {% else %}
                        {{biz.price_detail}}
                    {% endif %}
                </td>
                    <!-- {{first|join(', ')}} -->
                <!-- <td>
                    <a class="btn btn-block bg-gradient-danger btn-xs" style="color: #FFF;max-width: 24px;" href="{{biz.link}}" target="_blank" role="button"><i class="fas fa-link"></i></a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="1" style="text-align:left">Total:</th>
                <th colspan="10"></th>
            </tr>
        </tfoot>
    </table>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            "pageLength": 50,
            //sum 
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
     
                // Total over all pages
                total = api
                    .column( 2 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
     
                // Total over this page
                pageTotal = api
                    .column( 2, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
     
                // Update footer
                $( api.column( 2 ).footer() ).html(
                    '₱'+ numberWithCommas(pageTotal) +' ( ₱'+ numberWithCommas(total) +' total)'
                );
            },
            //sum
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            "columnDefs": [
                //{ "visible": false, "targets": 0 },
                { "type": "num-fmt", "targets": [2,4,5] }
            ],
            scrollX: true,
            //responsive: true,
            //
            dom: 'Bfrtip',
            buttons: [
                //'copyHtml5',
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: function(idx, data, node) {
                            if ($(node).hasClass('noVis')) {
                                return false;
                            }
                            return $('#example').DataTable().column(idx).visible();
                        },
                        orthogonal: 'export',
                    },
                    customize: function( xlsx ) {

                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                
                        // Loop over all cells in sheet
                        $('row c[r^="A"]', sheet).each( function () {
                            //$('row c', sheet).each( function () {
                                // if cell starts with http
                                if ( $('is t', this).text().indexOf("OR") === 0 || $('is t', this).text().indexOf("AL") === 0  ) {
                    
                                    // (2.) change the type to `str` which is a formula
                                    $(this).attr('t', 'str');
                                    /**/
                                        var titleText = $('is t', this).text();
                                        var data = $('#example').DataTable().data().toArray();
                                        var hyperlink = '';
                                        var titlelink = '';
                                        data.forEach(function(row, i) {
                                            row.forEach(function(column, j){
                                                var linkText = column;
                                                if (j == 0) {
                                                    $("<div></div>").html(linkText).find("a").each(function(l){
                                                        //console.log(titleText);
                                                        if ($(this).text() == titleText){
                                                            
                                                            titlelink = $(this).text();
                                                            hyperlink = $(this).attr('href');
                                                        }
                                                    });
                                                }
                                            });
                                        }); 
                                    /**/
                                    //append the formula
                                    $(this).append('<f>' + 'HYPERLINK("'+hyperlink+'","'+$('is t', this).text()+'")'+ '</f>');
                                    //remove the inlineStr
                                    $('is', this).remove();
                                    // (3.) underline
                                    $(this).attr( 's', '4' );
                                }
                            });
                }
                },
                //'csvHtml5',
                //{
                    //extend: 'pdfHtml5',
                    //exportOptions: {
                        //columns: function(idx, data, node) {
                            //if ($(node).hasClass('noVis')) {
                          //      return false;
                        //    }
                      //      return $('#example').DataTable().column(idx).visible();
                    //    }
                  //  }
                //},
                {
                    extend: 'colvis',
                    columns: [2,3,4,5,6,7,8,9,10]
                }
            ]
            //
        } );

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }
        
    } );
</script> 
{% endblock %}