{% extends 'base.html' %}
{% block nav_item %}
 <li class="nav-item active">
    <a class="nav-link" href="{{url_for('index')}}">All Listings <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('office', office_code='OR')}}">Manila-Ortigas Center <span class="badge badge-pill badge-danger">{{orCount}}</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('office', office_code='AL')}}">Alabang <span class="badge badge-pill badge-danger">{{alCount}}</span></a>
  </li>
{% endblock %}
{% block content %}
<table id="example" class="table table-striped table-bordered" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Price Info</th>
            <th>Location</th>
            <th>Office</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for biz in all_biz %}
        <tr>
            <td>{{biz.listing_id}}</td>
            <td><a href="{{url_for('biz', listing_id=biz.listing_id)}}">{{biz.title}}</a></td>
            <td>{{biz.price_info}}</td>
            <td>{{biz.location}}</td>
            <td>{{biz.office}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{biz.link}}" target="_blank" role="button">Link</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        } );
    } );
</script> 
{% endblock %}