{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 id="timer" class="display-3 text-center"></h1>
    <p class="lead text-center">** SEE YOU SPACE COWBOYS **</p>
    <!-- <p class="lead text-center">We'll be right back.</p> -->
    <hr class="my-4">
    <p class="lead text-center">#StaySafe</p>
  </div>
{% endblock %}
{% block scripts %}
<script>
// Set the date we're counting down to
var countDownDate = new Date("Apr 27, 2020 17:00:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "Loading...";
  }
}, 1000);
</script> 
{% endblock %}

