{% extends 'base2.html' %}

{% block content %}
<div class="col-sm-12">
<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <p><strong>Your IP Geo Location:</strong></p>
    <p>IP: {{gd['ip']}}</p>
    <p>City: {{gd['location']['city']}}</p>
    <p>Region: {{gd['location']['region']}}</p>
    <p>Country: {{gd['location']['country']}}</p>
    <p>Postal Code: {{gd['location']['postalCode']}}</p>
    <p>Timezone: {{gd['location']['timezone']}}</p>
    <p>Lat: {{gd['location']['lat']}}</p>
    <p>Lng: {{gd['location']['lng']}}</p>
</div>
</div>
<div class="col-sm-12">
    <table id="example" class="table table-striped table-bordered" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Email</th>
                <th>IP Address</th>
                <th>City</th>
                <th>Region</th>
                <th>Country</th>
                <th>Postal</th>
                <th>Timezone</th>
                <th>Lat</th>
                <th>Lng</th>
            </tr>
        </thead>
        <tbody>
            {% for geo_ip in geo_ips %}
            <tr>
                <td>{{geo_ip.user.email}}</td>
                <td>{{geo_ip.ip}}</td>
                <td>{{geo_ip.city}}</td>
                <td>{{geo_ip.region}}</td>
                <td>{{geo_ip.country}}</td>
                <td>{{geo_ip.postalCode}}</td>
                <td>{{geo_ip.timezone}}</td>
                <td>{{geo_ip.lat}}</td>
                <td>{{geo_ip.lng}}</td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            scrollX: true,
            //responsive: true,
            //
            dom: 'Bfrtip',
            buttons: [
                //'copyHtml5',
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: function(idx, data, node) {
                            if ($(node).hasClass('noVis')) {
                                return false;
                            }
                            return $('#example').DataTable().column(idx).visible();
                        },
                        orthogonal: 'export',
                    },
                },
                //'csvHtml5',
                //{
                    //extend: 'pdfHtml5',
                    //exportOptions: {
                        //columns: function(idx, data, node) {
                            //if ($(node).hasClass('noVis')) {
                          //      return false;
                        //    }
                      //      return $('#example').DataTable().column(idx).visible();
                    //    }
                  //  }
                //},
                'colvis'
            ]
            //
        } );

        
    } );
</script> 
{% endblock %}