{% extends 'base2.html' %}

{% block content %}

<!-- general form elements -->
<div style="padding-top: 15px;" class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 col-lg-6 offset-lg-3">
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
    {% endfor %}
    <div class="card card-danger">
        <div class="card-header">
        <h3 class="card-title">REGISTER</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="post">
            {{form.hidden_tag()}}
        <div class="card-body">
            <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control")}}     
            </div>
            <div class="form-group">
            {{form.username.label}}
            {{form.username(class="form-control")}}
            </div>
            <div class="form-group">
            {{form.password.label}}
            {{form.password(class="form-control")}}
            </div>
            <div class="form-group">
            {{form.password_confirm.label}}
            {{form.password_confirm(class="form-control")}}
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            {{form.submit(class="btn btn-danger")}}
        </div>
        </form>
    </div>
  <!-- /.card -->
</div>
{% endblock %}