{% extends 'base2.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">🇺🇸 ₱{{currency_rates[0]['rate']}} | 🇦🇺 ₱{{currency_rates[1]['rate']}} | 🇳🇿 ₱{{currency_rates[2]['rate']}}*</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">

          <div class="col-md-12">
            <p class="text-center">
              <strong>Businesses (for sale / all businesses)</strong>
            </p>

            <div class="progress-group">
              <!-- Philippines <a href="{{url_for('ph.listing')}}">(View Listing)</a> -->
              Philippines <a href="/linkscraper/static/ph.xlsx">(export xlsx)</a>
              <span class="float-right"><b>{{ph_list[0]}}</b>/{{ph_list[1]}}</span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-primary" style="width: {{ph_list[2]}}%"></div>
              </div>
            </div>
            <!-- /.progress-group -->

            <div class="progress-group">
              USA <a href="/linkscraper/static/us.xlsx">(export xlsx)</a>
              <span class="float-right"><b>{{us_list[0]}}</b>/{{us_list[1]}}</span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-danger" style="width: {{us_list[2]}}%"></div>
              </div>
            </div>

            <!-- /.progress-group -->
            <div class="progress-group">
              <span class="progress-text">Australia <a href="/linkscraper/static/au.xlsx">(export xlsx)</a></span>
              <span class="float-right"><b>{{au_list[0]}}</b>/{{au_list[1]}}</span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-success" style="width: {{au_list[2]}}%"></div>
              </div>
            </div>

            <!-- /.progress-group -->
            <div class="progress-group">
              New Zealand <a href="/linkscraper/static/nz.xlsx">(export xlsx)</a>
              <span class="float-right"><b>{{nz_list[0]}}</b>/{{nz_list[1]}}</span>
              <div class="progress progress-sm">
                <div class="progress-bar bg-warning" style="width: {{nz_list[2]}}%"></div>
              </div>
            </div>
            <!-- /.progress-group -->

            <!-- PH-CARD -->
            <div class="card-header">
              <h5 class="card-title">🇵🇭 <strong>Philippines</strong></h5>
              <span style="float:right;">{{ph_list[3]}} brokers</span>
            </div>
            <div class="table-responsive">
              <table class="table m-0 table-sm">
                <thead>
                <tr>
                  <th>Offices</th>
                  <th>for sale businesses**</th>
                </tr>
                </thead>
                <tbody>
                {% for office in biz_list[0] %}
                <tr>
                  <td>{{office['office']}}</td>
                  <td>{{office['count']}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- PH-CARD -->
            <!-- US-CARD -->
            <div class="card-header">
              <h5 class="card-title">🇺🇸 <strong>United States of America</strong></h5>
              <span style="float:right;">{{us_list[3]}} brokers</span>
            </div>
            <div class="table-responsive">
              <table class="table m-0 table-sm">
                <thead>
                <tr>
                  <th>Offices</th>
                  <th>for sale businesses**</th>
                </tr>
                </thead>
                <tbody>
                {% for office in biz_list[1] %}
                <tr>
                  <td>{{office['office']}}</td>
                  <td>{{office['count']}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- US-CARD -->
            <!-- AU-CARD -->
            <div class="card-header">
              <h5 class="card-title">🇦🇺 <strong>Australia</strong></h5>
              <span style="float:right;">{{au_list[3]}} brokers</span>
            </div>
            <div class="table-responsive">
              <table class="table m-0 table-sm">
                <thead>
                <tr>
                  <th>Offices</th>
                  <th>for sale businesses**</th>
                </tr>
                </thead>
                <tbody>
                {% for office in biz_list[2] %}
                <tr>
                  <td>{{office['office']}}</td>
                  <td>{{office['count']}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- AU-CARD -->
            <!-- NZ-CARD -->
            <div class="card-header">
              <h5 class="card-title">🇳🇿 <strong>New Zealand</strong></h5>
              <span style="float:right;">{{nz_list[3]}} brokers</span>
            </div>
            <div class="table-responsive">
              <table class="table m-0 table-sm">
                <thead>
                <tr>
                  <th>Offices</th>
                  <th>for sale businesses**</th>
                </tr>
                </thead>
                <tbody>
                {% for office in biz_list[3] %}
                <tr>
                  <td>{{office['office']}}</td>
                  <td>{{office['count']}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- NZ-CARD -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-12 col-12">
            <small>*published by European Central Bank. The rates (banker's rounding) are updated daily 3PM CET. (9PM Manila Time)</small>
            <small>**based on brokers' business listing</small>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>


  <!-- CARD -->

  <!-- END-CARD -->

{% endblock %}
